.header{
    display: flex;
    width: 900px;
    margin: 20px auto;
    align-items: center;
}
.logo{
    display: block;
    width: 72px;
    height: 78px;
    object-fit: cover;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.menu li{
    display: block;
    margin: 5px;
}
.menu li a{
    padding: 8px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition: all .5s;
}
.menu li a:hover{
    background-color: white;
    color: black;
    border: 1px solid black
}
.banner{
    width: 900px;
    margin: auto;
}
.banner img{
    width: 100%;
}
.popular_products{
    display: flex;
    width: 900px;
    margin: auto;
}
.popular_product_item{
    width: 300px;
    margin: 10px;
}
.popular_product_item img{
    width: 100%;
    
}
.btn{
    display: block;
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    width: 70px;
    text-decoration: none;
}
.btn:hover{
    background-color: chartreuse;
}
.title{
    font-weight: bolder;
}